/* TODO add to global css */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.msg-container > .card {
    width: fit-content;
    background-color: var(--bs-gray-100);
}
.msg-container >.card >.card-body > .card-title {
    font-weight: 500;
}

.msg-container >.card >.card-body .card-subtitle {
    font-size: 0.8em;
}

.msg-container.local-msg {
    justify-content: end;
}
.msg-container.local-msg > .card {
    background-color: var(--bs-gray-200);
}