#images-header{
    max-height: 200px;
}
#images-header img{
    object-fit: cover;
}

#event-header>div{
    max-width: 1400px; 
    margin: auto;
}

#pbar-vacs-total{
    width: 200px;
    height: 10px;
    background-color: rgb(197, 197, 197);
}

#pbar-vacs-progress{
    width: 120px;
    height: 10px;
}
#check-join{
    width: 25px;
    height: 25px;
}
#more-details{
    max-width: 1400px;
    margin: auto;
}
#main-details{
    min-width: 400px;
}
#event-dets-calendar{
    width: 200px;
    height: 150px;
}


#report-form-cont {

    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

#report-form-cont > .report-form {
    box-shadow: 0px 0px 10px rgba(43, 42, 42, 0.221);
    width: 400px;
    padding: 20px;
}


#pic-form-cont {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

#pic-form-cont > .pic-form {
    box-shadow: 0px 0px 10px rgba(43, 42, 42, 0.221);
    width: 400px;
    padding: 20px;
}


#pic-show-cont {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

#pic-show-cont > img {
    /* box-shadow: 0px 0px 10px rgba(43, 42, 42, 0.221); */
    filter: drop-shadow(0px 0px 10px rgba(43, 42, 42, 0.221));
    width: calc(100% - 20px);
    max-height: 600px;
    /* max-height: calc(100% - 20px); */
    object-fit: contain;
}

.event-pic > form {
    opacity: 0;
    transition: opacity 0.3s;
}

.event-pic:hover > form {
    opacity: 1;
}