<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/head :: header" />
    <title>Administration</title>
    <link
      rel="stylesheet"
      th:href="@{/css/admin.css}"
      href="/css/admin.css"
      type="text/css"
    />
    <script th:src="@{/js/admin.js}" src="js/admin.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>

  <body class="d-flex flex-column h-100" onload="changeName()">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="bg-light d-flex flex-column align-items-center">
      <div class="container">
        <h1 class="mt-5">Administration</h1>
        <div mb-2>
          
           <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                      Dropdown<span class="dropdownBtnName"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" th:href="@{/admin/allUsers}" >All users</a></li>
                    <li><a class="dropdown-item"  th:href="@{/admin/allEvents}">Trips</a></li>
                    <li><a class="dropdown-item" th:href="@{/admin/blackListUser}" >Blacklist</a></li>
                    <li><a class="dropdown-item" th:href="@{/admin/allReports}">Reports</a></li>
                    </ul>
                </div> 
          <div class="searchbar">
            <input type="text" placeholder="Search.." />
            <button type="submit">Submit</button>
            <button>Add item</button>
          </div>
        </div>


        <div id="userlist"><!-- Hay que arreglar el html aqui -->
         
            <div class="results d-flex flex-column gap-3" >
          <div class="event bg-white d-flex rounded overflow-hidden" th:each="user : ${allUser}">
            <img th:src="@{/user/{id}/pic(id=${user.id})}" alt="">
            <div class="event-info p-4">
              <div class="event-header d-flex gap-2 align-items-center justify-content-between">
                <div class="d-flex gap-2 align-items-center ">
                  <h2 class="title "><a th:text="${user.firstName} + ' ' + ${user.lastName}" th:href="@{/user/{id}(id=${user.id})}" >Nombre</a></h2>
                </div>
               
              </div>
              <div class="event-body d-flex gap-3">
                <div class="w-75 overflow-hidden d-flex flex-column gap-2">
                  <div class="main-info d-flex flex-wrap">
                    <p class="m-0 "><strong>Age: </strong><span th:onload="computeAge(${user.birthdate})">20</span></p>
                    <p class="m-0  " ><strong class="mr">Level: </strong><span th:text="${user.level}"></span></p>
                    <p class="m-0 "><strong class="mr">Email: </strong><span th:text="${user.email}"></span></p>
                    <p class="m-0 "><strong class="mr">Languages: </strong><span th:text="${user.languages}"></span></p>
                  </div>
                  <p class="description m-0" th:text="${user.description}">desc</p>
                  <p class="m-0">
                    <p class="mx-2"><strong>⚠ reportings: </strong><span id="reportSpan" th:onload= "getReportings(id=${user.id})">0</span></p>
                </div>
                <div style="width: 13em;"></div>
                <div >
                 <a type="button" class="btn btn-secondary btn-sm my-2" style="width: 7em;" th:href="@{/user/{id}/blacklistUser(id=${user.id})}">
                    📝 Blacklist
                 </a>
                  <!-- <a type="button" class="btn btn-secondary btn-sm" style="width: 7em;" href="#" th:onclick='deleteForm()'> -->
                    <a type="button" class="btn btn-secondary btn-sm" style="width: 7em;" th:href="@{/user/{id}/deleteUser(id=${user.id})}" >
                    🗑️ Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
          
        
        <div id="triplist">
          <!-- Trips list -->

           <div class="results d-flex flex-column gap-3">
          <div class="event bg-white d-flex rounded overflow-hidden" th:each="event, iter:${allEvents}">
            <img th:src="@{/event/{id}/coverPic(id=${event.id})}" alt="">
            <div class="event-info p-4">
              <div class="event-header d-flex gap-2 align-items-center justify-content-between">
                <div class="d-flex gap-2 align-items-center">
                  <span class="badge bg-primary" th:text="${event.type}">Event</span>
                  <h2 class="title"><a th:text="${event.title}" th:href="@{/event/{id}(id=${event.id})}" href="/event/2" style=" text-decoration:none; color: black;">Title</a></h2>
                </div>
                
              </div>
              <div class="event-body d-flex gap-3">
                <div class="w-75 overflow-hidden d-flex flex-column gap-2">
                  <div class="main-info d-flex flex-wrap">
                    <p class="m-0"><strong>Price: </strong><span th:text="${#numbers.formatDecimal(event.price,1,2)}"></span><span>/persona</span></p>
                    <p class="m-0"><strong>Vacancies: </strong><span id="taken-vacs"><span th:text="${event.occupied}"></span></span>/<span th:text="${event.capacity}"></span></p>
                    <p class="m-0"><strong>Destination: </strong><span th:text="${event.destination}">destino</span></p>
                  </div>
                  <p class="description m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta optio fuga esse? Voluptatum quam, soluta cumque illum asperiores, veniam placeat debitis alias, ut obcaecati enim cum exercitationem aliquid ratione eligendi.</p>
                  <p class="m-0"><strong>Notes: </strong><span th:text="${event.notes}"></span> </p>
                </div>
                <div class="">
                  <p class="m-0"><strong>📅 From: </strong><span th:text="${event.initDate}">Fecha Inicio</span></p>
                  <p><strong>📅 To: </strong><span th:text="${event.finishDate}">Fecha Fin</span></p>
                  <p class="m-0"><strong>Organizer: </strong><span th:text="${event.userOwner.firstName} + ' ' + ${event.userOwner.lastName}">Nombre Apellidos</span></p>
                  <p class="m-0"><strong>Languages: </strong><span th:text="${event.userOwner.languages}">Español</span></p>
                  <p class="mb-0"><span>⭐⭐⭐⭐⭐</span></p>
                </div>
                <div class=" col-1">
                            <!-- Botones -->
                            <div class="row"><button type="button" class="btn btn-secondary btn-sm mt-2" th:onclick='deleteForm("${event.id}")'> 🗑️ Delete</button></div>
                        </div>
              </div>
            </div>
          </div>
        </div>
       
        
        </div>

        <div id="blacklist">
         <div class="results d-flex flex-column gap-3" >
          <div class="event bg-white d-flex rounded overflow-hidden" th:each="user : ${blackListUser}">
            <img th:src="@{/user/{id}/pic(id=${user.id})}" alt="">
            <div class="event-info p-4">
              <div class="event-header d-flex gap-2 align-items-center justify-content-between">
                <div class="d-flex gap-2 align-items-center ">
                  <h2 class="title "><a th:text="${user.firstName} + ' ' + ${user.lastName}" th:href="@{/user/{id}(id=${user.id})}" >Nombre</a></h2>
                </div>
               
              </div>
              <div class="event-body d-flex gap-3">
                <div class="w-75 overflow-hidden d-flex flex-column gap-2">
                  <div class="main-info d-flex flex-wrap">
                    <p class="m-0 "><strong>Age: </strong><span>20</span></p>
                    <p class="m-0  " ><strong class="mr">Level: </strong><span th:text="${user.level}"></span></p>
                    <p class="m-0 "><strong class="mr">Email: </strong><span th:text="${user.email}"></span></p>
                    <p class="m-0 "><strong class="mr">Languages: </strong><span th:text="${user.languages}"></span></p>
                  </div>
                  <p class="description m-0" th:text="${user.description}">desc</p>
                  <p class="m-0">
                    <p class="mx-2"><strong>⚠ reportings: </strong>0</p>
                </div>
                                <div style="width: 13em;"></div>

                <div >
                 <a type="button" class="btn btn-secondary btn-sm my-2" style="width: 7em;" th:href="@{/user/{id}/blacklistUser(id=${user.id})}">
                    📝 Remove
                 </a>
                 
                  <button type="button" class="btn btn-secondary btn-sm" style="width: 7em;" onclick="deleteForm()" th:href="@{/user/{id}/deleteUser(id=${user.id})}">
                    🗑️ Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
          
        </div>

        <div id="reportlist">
          
          <div class="results d-flex flex-column gap-3" >
          <div class="event bg-white d-flex rounded overflow-hidden" th:each="report : ${allReports}">
            <div class="event-info p-4 row">
              <div class="col-5">
                <div class="row"><p>
<h2 class="title ">User source :<a th:text="${report.userSource.firstName} + ' ' + ${report.userSource.lastName}" th:href="@{/user/{id}(id=${report.userSource.id})}" >Nombre</a></h2>
                  </p></div>
                <div class="row">
                  <p>
<h2 class="title ">User Target :<a th:text="${report.userTarget.firstName} + ' ' + ${report.userTarget.firstName}" th:href="@{/user/{id}(id=${report.userTarget.id})}" >Nombre</a></h2>
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="w-75 overflow-hidden d-flex flex-column gap-2">
                  <div class="main-info d-flex flex-wrap">
                    
                  </div>
                  <p class="description m-0" th:text="${report.description}">desc</p>
                  <p class="m-0">
                </div>
              </div>
              <div class="col-1">
                <div class="event-body d-flex gap-3">
                  <div>
                  <button type="button" class="btn btn-secondary btn-sm my-2" style="width: 5em;">
                      📝 Blacklist
                    </button>
                  
                    <button type="button" class="btn btn-secondary btn-sm" style="width: 5em;">
                      🗑️ Delete
                    </button>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
        </div>

        <!--PAgination-->
        <div class="pagination-panel mt-4 d-flex justify-content-center" th:if="${nbr}">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li th:class="'page-item' + ${currentPage==0?' disabled':''}"><a class="page-link" th:href="@{${nbr}(page=${currentPage - 1})}">Previous</a></li>
              <li th:each="page,status:${numpages}" th:class="'page-item' + ${status.index==currentPage?' active':''}">
                <a class="page-link" th:href="@{${nbr}(page=${status.index})}" th:text="${status.index + 1}">2</a>
              </li>              
              <li th:class="'page-item' + ${currentPage==(numPages -1)?' disabled':''}"><a class="page-link" th:href="@{${nbr}(page=${currentPage + 1})}">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </main>
    <!-- <div id="delete-form-cont" style="display: none">
      <div class="delete-form bg-white rounded">
          <h3>Are you sure you want to delete ?</h3>
          <br>
          <a href="" class="btn btn-primary" id ="delRef" th:href="@{/user/{id}/deleteUser(id=${user.id})}">  
              Yes
          </a>
          <button type="button" class="btn btn-primary" onclick="deleteForm()">No</button>
      </div>
    </div> -->

    <th:block th:replace="fragments/footer.html :: footer" />
    
  </body>
</html>
