<!DOCTYPE html>
<html lang="es" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>DreamTrip</title>
    <script th:src="@{/js/event.js}" src="js/event.js"></script>
    <link rel="stylesheet" th:href="@{/css/event.css}" href="css/event.css">
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div id="images-header" class="d-flex flex-nowrap overflow-hidden">
            <div class="flex-fill"><img src="https://picsum.photos/300/150" class="w-100" alt="..."></div>
            <div class="flex-fill"><img src="https://picsum.photos/300/150" class="w-100" alt="..."></div>
            <div class="flex-fill"><img src="https://picsum.photos/300/150" class="w-100" alt="..."></div>
        </div>
        <div id="event-header" class="border-bottom">
            <div class="d-flex px-4 py-2 justify-content-between align-items-center">
                <div class="d-flex flex-fill justify-content-between align-items-center">
                    <div>
                        <span class="badge bg-primary fs-6">Evento</span>
                        <h1><span th:text="${event.title}">TITLE</span></h1>
                        <div>
                            <span class="badge bg-primary">Tag1</span>
                            <span class="badge bg-primary">Tag2</span>
                            <span class="badge bg-primary">Tag3</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <button type="button" id="fav-i" class="border-0 bg-white fs-2 mb-0" th:attr="onclick=|toggleFav(this, '${event.id}')|"
                            th:text="${fav}? '❤️': '🤍'" th:disabled="!${isLogged}">
                            🤍
                        </button>
                        <p class="text-center mb-0"><span id="fav-n"><span th:text="${numFavs}"></span></span> Me Gustas</p>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center ms-4">
                    <h1><span th:text="${#numbers.formatDecimal(event.price,1,2)}"></span><span class="fs-4 mb-0">/persona</span></h1>
                    <h5><span id="taken-vacs"><span th:text="${event.occupied}"></span></span>/<span th:text="${event.capacity}"></span> Vacantes</h5>
                    <div>
                        <div id="pbar-vacs-total" class="rounded-pill">
                            <div id="pbar-vacs-progress" class="bg-primary rounded-pill"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center ms-2">
                    <input id="check-join" type="checkbox" onclick="toggleActionsDisplay()" th:disabled="!${isLogged}">
                    <p id="text-join" class="text-center mb-0">Unirse</p>
                </div>
                <div id="acts-aft-join" class="ms-2" style="display: none;">
                    <a class="btn btn-primary mb-1" th:href="@{/chat}" href="/chat">Chat</a>
                    <a class="btn btn-primary" th:href="@{/form}" href="/form">Form</a>
                </div>
            </div>
        </div>
        <div id="event-container" class="bg-light">
            <div class="d-flex px-4 py-2">
                <div id="more-details" class="bg-white border my-2 me-2 p-4 flex-fill">
                    <div id="event-description" class="mb-5">
                        <h2>DESCRIPCIÓN</h2>
                        <span th:text="${event.description}"></span> 
                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque recusandae voluptatibus quae ad? Quaerat accusantium et omnis itaque. Harum temporibus aliquid nemo odio dolor velit optio repudiandae, praesentium fugiat sunt!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque recusandae voluptatibus quae ad? Quaerat accusantium et omnis itaque. Harum temporibus aliquid nemo odio dolor velit optio repudiandae, praesentium fugiat sunt!</p> -->
                    </div>
                    <div id="event-notes" class="mb-5">
                        <h2>ANOTACIONES</h2>
                        <div class="d-flex flex-wrap">
                            <span th:text="${event.notes}"></span>
                            <!--<p class="flex-fill"><span class="fs-4">🐾</span> Se admiten animales.</p>
                            <p class="flex-fill"><span class="fs-4">👶</span> Se permiten bebés.</p>-->
                        </div>
                    </div>
                    <div id="event-m-imgs" class="mb-5">
                        <h2>MÁS IMÁGENES</h2>
                        <div class="d-flex flex-wrap">
                            <img src="https://picsum.photos/280/150" class="m-2" alt="">
                            <img src="https://picsum.photos/280/150" class="m-2" alt="">
                            <img src="https://picsum.photos/280/150" class="m-2" alt="">
                            <img src="https://picsum.photos/280/150" class="m-2" alt="">
                            <img src="https://picsum.photos/280/150" class="m-2" alt="">
                        </div>
                    </div>
                </div>
                <div id="main-details" class="bg-white border my-2 p-4 pb-5 flex-fill align-self-start">
                    <h2 class="text-center">DETALLES</h2>
                    <div class="event-dets-sec">
                        <p><span class="fs-5 fw-bold">Destino: </span> <span th:text="${event.destination}"></span> <span class="fs-5">🌍</span></p>
                    </div>
                    <div class="event-dets-sec">
                        <p><span class="fs-5 fw-bold"><span th:text="${event.initDate}"></span> - <span th:text="${event.finishDate}"></span> </span></p>
                        <div id="event-dets-calendar" class="bg-primary">
                            <!-- CALENDARIO -->
                        </div>
                    </div>
                    <div class="event-dets-sec">
                        <p><span class="fs-5 fw-bold">Punto de reunión: </span> <span th:text="${event.reunionPoint}"></span><span class="fs-5">🌍</span></p>
                    </div>
                    <div class="event-dets-sec">
                        <p><span class="fs-5 fw-bold">Transporte: </span> <span th:text="${event.transport}"></span><span class="fs-5">✈️</span></p>
                    </div>
                    <h3 class="text-center">ORGANIZADOR</h3>
                    <div class="event-dets-sec d-flex align-items-center mb-3">
                        <img class="rounded-circle align-self-start" src="https://picsum.photos/100/100" alt="">
                        <div class="ms-4">
                            <h5><span th:text="${event.userOwner.firstName}">Nombre</span></h5>
                            <h5><span th:text="${event.userOwner.lastName}">Apellidos</span></h5>
                            <p class="mb-0"><span>⭐⭐⭐⭐⭐</span><span th:text="${ownerRatings}"></span> valoraciones.</p>
                        </div>
                    </div>
                    <a class="btn btn-primary" th:href="@{/user/{id}(id=${event.userOwner.id})}" href="/user/2">User</a>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>