<!DOCTYPE html>
<html lang="es" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>DreamTrip</title>
    <script>
        function toggleActionsDisplay(){
            if (document.getElementById("check-join").checked == true) {
                document.getElementById("acts-aft-join").style.display = "flex";
                document.getElementById("acts-aft-join").style.flexDirection = "column";
                document.getElementById("text-join").innerHTML = "Salir";
                document.getElementById("pbar-vacs-progress").style.width = "150px";
                let takenVacs = Number(document.getElementById("taken-vacs").innerText);
                takenVacs++;
                document.getElementById("taken-vacs").innerText = takenVacs;
            } 
            else {
                document.getElementById("acts-aft-join").style.display = "none";
                document.getElementById("text-join").innerHTML = "Unirse";
                document.getElementById("pbar-vacs-progress").style.width = "120px";
                let takenVacs = Number(document.getElementById("taken-vacs").innerText);
                takenVacs--;
                document.getElementById("taken-vacs").innerText = takenVacs;
            }
        }
    </script>
    <style>
        #images-header{
            max-height: 200px;
        }
        #images-header img{
            object-fit: cover;
        }

        #event-header>div{
            max-width: 1400px; 
            margin: auto;
        }

        #pbar-vacs-total{
            width: 200px;
            height: 10px;
            background-color: rgb(197, 197, 197);
        }

        #pbar-vacs-progress{
            width: 120px;
            height: 10px;
        }
        #check-join{
            width: 25px;
            height: 25px;
        }
        #more-details{
            max-width: 1400px;
            margin: auto;
        }
        #main-details{
            min-width: 400px;
        }
        #event-dets-calendar{
            width: 200px;
            height: 150px;
        }
    </style>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div id="images-header" class="d-flex flex-nowrap overflow-hidden">
            <div class="flex-fill"><img src="https://picsum.photos/300/150" class="w-100" alt="..."></div>
            <div class="flex-fill"><img src="https://picsum.photos/300/150" class="w-100" alt="..."></div>
            <div class="flex-fill"><img src="https://picsum.photos/300/150" class="w-100" alt="..."></div>
        </div>
        <div id="event-header" class="border-bottom">
            <div class="d-flex px-4 py-2 justify-content-between align-items-center">
                <div class="d-flex flex-fill justify-content-between align-items-center">
                    <div>
                        <span class="badge bg-primary fs-6">Evento</span>
                        <h1>TÍTULO DE EVENTO</h1>
                        <div>
                            <span class="badge bg-primary">Tag1</span>
                            <span class="badge bg-primary">Tag2</span>
                            <span class="badge bg-primary">Tag3</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <p class="fs-2 mb-0">❤️</p>
                        <p class="text-center mb-0">10 Me Gustas</p>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center ms-4">
                    <h1>100€<span class="fs-4 mb-0">/persona</span></h1>
                    <h5><span id="taken-vacs">3</span>/5 Vacantes</h5>
                    <div>
                        <div id="pbar-vacs-total" class="rounded-pill">
                            <div id="pbar-vacs-progress" class="bg-primary rounded-pill"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center ms-2">
                    <input id="check-join" type="checkbox" onclick="toggleActionsDisplay()">
                    <p id="text-join" class="text-center mb-0">Unirse</p>
                </div>
                <div id="acts-aft-join" class="ms-2" style="display: none;">
                    <button class="btn btn-primary mb-1" type="button" th:href="@{/chat}" href="/chat">Chat</button>
                    <button class="btn btn-primary" type="button" th:href="@{/form}" href="/form">Form</button>
                </div>
            </div>
        </div>
        <div id="event-container" class="bg-light">
            <div id="more-details" class="d-flex px-4 py-2">
                <div class="bg-white border my-2 me-2 p-4 flex-fill">
                    <div id="event-description" class="mb-5">
                        <h2>DESCRIPCIÓN</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque recusandae voluptatibus quae ad? Quaerat accusantium et omnis itaque. Harum temporibus aliquid nemo odio dolor velit optio repudiandae, praesentium fugiat sunt!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque recusandae voluptatibus quae ad? Quaerat accusantium et omnis itaque. Harum temporibus aliquid nemo odio dolor velit optio repudiandae, praesentium fugiat sunt!</p>
                    </div>
                    <div id="event-notes" class="mb-5">
                        <h2>ANOTACIONES</h2>
                        <div class="d-flex flex-wrap">
                            <p class="flex-fill"><span class="fs-4">🐾</span> Se admiten animales.</p>
                            <p class="flex-fill"><span class="fs-4">👶</span> Se permiten bebés.</p>
                        </div>
                    </div>
                    <div id="event-m-imgs" class="mb-5">
                        <h2>MÁS IMÁGENES</h2>
                        <div class="d-flex flex-wrap">
                            <img src="https://picsum.photos/280/150" class="m-2" alt="">
                            <img src="https://picsum.photos/280/150" class="m-2" alt="">
                            <img src="https://picsum.photos/280/150" class="m-2" alt="">
                            <img src="https://picsum.photos/280/150" class="m-2" alt="">
                            <img src="https://picsum.photos/280/150" class="m-2" alt="">
                        </div>
                    </div>
                </div>
                <div id="main-details" class="bg-white border my-2 p-4 pb-5 flex-fill align-self-start">
                    <h2 class="text-center">DETALLES</h2>
                    <div class="event-dets-sec">
                        <p><span class="fs-5 fw-bold">Destino: </span> [lugar] <span class="fs-5">🌍</span></p>
                    </div>
                    <div class="event-dets-sec">
                        <p><span class="fs-5 fw-bold">[fecha inicio] - [fecha fin] </span></p>
                        <div id="event-dets-calendar" class="bg-primary">
                            <!-- CALENDARIO -->
                        </div>
                    </div>
                    <div class="event-dets-sec">
                        <p><span class="fs-5 fw-bold">Punto de reunión: </span> [lugar] <span class="fs-5">🌍</span></p>
                    </div>
                    <div class="event-dets-sec">
                        <p><span class="fs-5 fw-bold">Transporte: </span> <span class="fs-5">✈️</span></p>
                    </div>
                    <h3 class="text-center">ORGANIZADOR</h3>
                    <div class="event-dets-sec d-flex align-items-center mb-3">
                        <img class="rounded-circle align-self-start" src="https://picsum.photos/100/100" alt="">
                        <div class="ms-4">
                            <h5>NOMBRE</h5>
                            <h5>APELLIDOS</h5>
                            <p class="mb-0"><span>⭐⭐⭐⭐⭐</span>10 valoraciones.</p>
                        </div>
                    </div>
                    <div th:if="${application.debug}">
                        <form class="d-flex" th:action="@{/login}" method="post">
                            <input type="hidden" name="username" value="b">
                            <input type="hidden" name="password" value="aa">
                            <button type="submit" class="btn btn-outline-danger btn-sm">User Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>