<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/head :: header" />
    <title>DreamTrip</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" type="text/css" />
    <!-- <link rel="stylesheet" th:href="@{/css/search.css}" href="css/search.css" type="text/css"/> -->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0}"/>
  </head>

  <body class="d-flex flex-column h-100">
    <div class="fullscreen">
      <header th:replace="fragments/nav.html :: nav"></header>

      <!-- <a th:href="@{/search}" href="/search" class="btn nodec">Search</a>

      <a th:href="@{/login}" href="/login" class="btn nodec">LogIn</a>

      <a th:href="@{/signUp}" href="/signUp" class="btn nodec">SignUp</a> -->
    </div>
    <!-- Background Video-->
    <video
      class="bg-video"
      playsinline="playsinline"
      autoplay="autoplay"
      muted="muted"
      loop="loop"
      th:attr="src=@{img/bb.mp4}"
    ></video>
    <div class="container">
      <!-- Masthead(La caja Negra)-->
      <div class="masthead">
        <!--lo que esta dentro de la caja negra-->
        <div class="masthead-content text-white">
          <h1 class="fst-italic lh-1 mb-4">
            Look for your destination and find your best partners
          </h1>
          <!--Barra de busqueda-->
          <div class="row">
            <div class="col-lg-12 card-margin">
              <div class="search-panel w-100 px-3 pt-4">
                <form id="search-form-short" method="get" th:action="@{/search}" style="">
                  <div class="input-group mb-2">
                    <button type="submit" class="input-group-text">🔍</button>
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Username" aria-describedby="basic-addon1" name="search"
                    required>
                  </div>
                  <div class="input-group">
                    <span class="input-group-text">📅 From:</span>
                    <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="init" required>
                    <span class="input-group-text">📅 To:</span>
                    <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="fin" required>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flbt">
      <th:block th:replace="fragments/footer.html :: footer" />
    </div>
  </body>
</html>
