<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>DreamTrip</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Bienvenid@</h1>
            <!-- 
                Mehdi y Silvia
                - Main Page: index.html
                - Search: Buscador y que te muestre los resultados
                - SignUp: Registrarse 

                
                - User: Hacer perfil
                - Details: Detalles del viaje/evento
                - Chat: Chat                                                                                        - 1 Persona
                - Formulario: Después del viaje                                                                     - 1 Persona
                - Admin: Hacer tres botones donde cada uno redireccione a User List, Trip/Event List & BlackList    - 1 Persona
            
            -->
            <button><a th:href="@{/search}" href="/search">Search</a></button>
            <button><a th:href="@{/login}" href="/login">LogIn</a></button>
            <button><a th:href="@{/signUp}" href="/signUp">SignUp</a></button>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>