<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>DreamTrip</title>
    <link rel="stylesheet" th:href="@{/css/saveRating.css}" href="css/saveRating.css">

    <script th:src="@{/js/modal.js}" src="js/modal.js"></script>
    <script th:src="@{/js/event.js}" src="js/event.js"></script>
    <link rel="stylesheet" th:href="@{/css/modal.css}" href="css/modal.css">
    <link rel="stylesheet" th:href="@{/css/event.css}" href="css/event.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <!-- First Column - Ratings -->
                <div class="col-lg-6">
                    <h1 class="mt-5">Rate your trip!</h1>
                    <form method="POST" th:action="@{/event/{id}/saveRating(id=${event.id})}">
                        <!-- Rating Event -->
                        <h3>Rating Event</h3>
                        <div class="form-group">
                            <div id="eventRating" class="stars">
                                <span class="fa fa-star" data-rating="1" onclick="setRating(1, 'eventRating');"></span>
                                <span class="fa fa-star" data-rating="2" onclick="setRating(2, 'eventRating');"></span>
                                <span class="fa fa-star" data-rating="3" onclick="setRating(3, 'eventRating');"></span>
                                <span class="fa fa-star" data-rating="4" onclick="setRating(4, 'eventRating');"></span>
                                <span class="fa fa-star" data-rating="5" onclick="setRating(5, 'eventRating');"></span>
                                <input type="hidden" name="ratingEventValue" id="eventRatingValue">
                            </div>
                            <textarea name="eventValoration" class="form-control mt-2" rows="3"></textarea>
                        </div>

                        <!-- Rating Users -->
                        <h3 class="mt-4">Rate Users</h3>
                        <div class="card">
                            <div class="card-body">
                                <ul class="list-unstyled mb-0">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>User</th>
                                                <th>Rating</th>
                                                <th>Valoration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="user:${joinedUser}">
                                                <td><img th:src="@{/user/{id}/pic(id=${user.id})}"
                                                        style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; border: 3px solid white;" />
                                                </td>
                                                <td th:text="${user.username}"></td>
                                                <td>
                                                    <input type="hidden" name="userId" th:value="${user.id}"
                                                        class="form-control">
                                                    <!-- Rating Users -->

                                                    <input type="number" name="ratingValue" min="1" max="5" required>

                                                    <!-- <div th:id="'userRating' + ${user.id}" class="stars">
                                                        <span class="fa fa-star" data-rating="1" th:onclick="'setRating(1, \'userRating' + ${user.id} + '\');'"></span>
                                                        <span class="fa fa-star" data-rating="2" th:onclick="'setRating(2, \'userRating' + ${user.id} + '\');'"></span>
                                                        <span class="fa fa-star" data-rating="3" th:onclick="'setRating(3, \'userRating' + ${user.id} + '\');'"></span>
                                                        <span class="fa fa-star" data-rating="4" th:onclick="'setRating(4, \'userRating' + ${user.id} + '\');'"></span>
                                                        <span class="fa fa-star" data-rating="5" th:onclick="'setRating(5, \'userRating' + ${user.id} + '\');'"></span>
                                                        <input type="hidden" name="ratingValue" th:id="'userRatingValue' + ${user.id}">
                                                    </div> -->


                                                </td>
                                                <td>
                                                    <textarea name="valoration" class="form-control mt-2"
                                                        rows="1"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ul>
                            </div>
                        </div>
                        <button type="submit" class="mt-3 btn btn-primary">Save ratings</button>
                    </form>
                </div>

                <!-- Second Column - Images -->
                <div class="col-lg-6 mt-5">
                    <div class="d-flex flex-wrap gap-2 my-3">
                        <th:block th:each="photo: ${photos}">
                            <div class="event-pic position-relative">
                                <img th:src="@{/event/{id}/pic/{n}(id=${event.id},n=${photo})}" alt="" width="280" height="150"
                                    style="object-fit: cover;" th:attr="onclick=|toggleShowPic('@{/event/{id}/pic/{n}(id=${event.id},n=${photo})}')|">
                                <th:block th:if="${isOwner}">
                                    <form class="position-absolute" th:action="@{/event/{id}/rmPic/{n}(id=${event.id},n=${photo})}" method="post"
                                        style="top: 5px; right: 5px;">
                                        <button type="submit" class="p-0 rounded-circle btn btn-light" style="width: 30px; height: 30px;">
                                            ❌
                                            <span class="visually-hidden">Delete Image</span>
                                        </button>
                                    </form>
                                    
                                </th:block>
                            </div>
                        </th:block>
                    </div>

                    <div id="pic-show-cont" style="display: none" onclick="toggleShowPic()">
                        <img src="" alt="">
                    </div>
                    
                
                    <button type="button" class="btn btn-primary mb-1" onclick="toggleModalForm('pic-form-cont')">Add
                        Image</button>
                    <div id="pic-form-cont" class="modal-form-cont">
                        <form class="modal-form bg-white rounded" method="POST" th:action="@{/event/{id}/addPic(id=${event.id})}"  enctype="multipart/form-data">
                            <h3>Upload an image.</h3>
                            <input type="hidden" name="saveRatingValue" value="true">

                            <label for="report-desc" class="form-label">Upload an image:</label>
                            <input class="form-control" type="file" id="form-file" name="photo">
                            <br>
                            <button type="submit" class="btn btn-primary">
                                Send
                            </button>
                            <button type="button" class="btn btn-primary"
                                onclick="toggleModalForm('pic-form-cont')">Cancel</button>
                        </form>
                    </div>
                    



                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script>
        function setRating(rating, elementId) {
            let stars = document.querySelectorAll(`#${elementId} .fa-star`);
            let ratingInput = document.getElementById(`${elementId}Value`);

            for (let i = 0; i < stars.length; i++) {
                stars[i].classList.remove("checked");
            }

            for (let i = 0; i < rating; i++) {
                stars[i].classList.add("checked");
            }

            ratingInput.value = parseInt(rating);
        }

    </script>

</body>

</html>