<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/head :: header" />
    <title>DreamTrip</title>
    <link rel="stylesheet" th:href="@{/css/search.css}" href="css/search.css" type="text/css" />
    <script th:src="@{/js/event.js}" src="js/event.js"></script>
  </head>

  <body class="bg-light d-flex flex-column h-100" style="margin-top: 0;">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="bg-light d-flex flex-column align-items-center">
      <div class="search-panel w-100 px-3 pt-4">
        <!-- Search Long -->
        <form id="search-form-long" method="get" th:action="@{/search}" class="input-group">
          <button type="submit" class="input-group-text">🔍</button>
          <input type="text" class="form-control w-25" placeholder="Search..." aria-label="Username" aria-describedby="basic-addon1" name="search"
          required>
          <span class="input-group-text">📅 From</span>
          <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="init" required>
          <span class="input-group-text">📅 To</span>
          <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="fin" required>
        </form>
        <form id="search-form-short" method="get" th:action="@{/search}">
          <div class="input-group mb-2">
            <button type="submit" class="input-group-text">🔍</button>
            <input type="text" class="form-control" placeholder="Search..." aria-label="Username" aria-describedby="basic-addon1" name="search"
            required>
          </div>
          <div class="input-group">
            <span class="input-group-text">📅 From</span>
            <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="init" required>
            <span class="input-group-text">📅 To</span>
            <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="fin" required>
          </div>
        </form>
      </div>
      <div class="results-panel px-3 py-4">
        <!-- Results Panel -->
        <div class="results-details mb-4">
          <p class="fw-bold text-muted">Showing: <span th:text="${numFirstRes}">1</span> - <span th:text="${numFirstRes + size - 1}">3</span> of <span th:text="${numResults}">20</span> (aprox.) results</p>
          <form class="d-flex" action="">
            <div class="d-flex gap-3">
              <label for="sort-by">Ordered for:</label>
              <select id="sort-by" class="form-select form-select-sm" aria-label="Default select example" style="width: 200px">
                <option value="0" selected>Relevance</option>
                <option value="1">Name (A-Z)</option>
                <option value="2">Name (Z-A)</option>
              </select>
            </div>
          </form>
        </div>
        <div class="results d-flex flex-column gap-3">
          <div class="event bg-white d-flex rounded overflow-hidden" th:each="event, iter:${allEvents}">
            <img th:src="@{/event/{id}/coverPic(id=${event.id})}" alt="" width="200" style="object-fit: cover; flex-shrink: 0;">
            <div class="event-info p-4">
              <div class="event-header d-flex gap-2 align-items-center justify-content-between">
                <div class="d-flex gap-2 align-items-center">
                  <span class="badge bg-primary" th:text="${event.type}">Event</span>
                  <h2 class="title"><a th:text="${event.title}" th:href="@{/event/{id}(id=${event.id})}" href="/event/2">Title</a></h2>
                </div>
                <!-- <button type="button" id="fav-i" class="border-0 bg-white fs-4 mb-0" onclick="toggleFav()">🤍</button> -->
                <button type="button" id="fav-i" class="border-0 bg-white fs-2 mb-0" th:attr="onclick=|toggleFav(this,'${event.id}')|"
                    th:text="${favPageEvents[iter.index]}? '❤️': '🤍'" th:disabled="!${isLogged}">
                    🤍
                </button>
              </div>
              <div class="event-body d-flex gap-3">
                <div class="w-75 overflow-hidden d-flex flex-column gap-2">
                  <div class="main-info d-flex flex-wrap">
                    <p class="m-0"><strong>Price: </strong><span th:text="${#numbers.formatDecimal(event.price,1,2)}"></span><span>/persona</span></p>
                    <p class="m-0 d-flex align-items-center"><strong>Vacancies: </strong>
                      <span class="rounded-pill overflow-hidden ms-2" style="display: inline-block;width: 80px;background-color: darkgray;">
                        <span class="bg-primary"
                          th:style="'display:inline-block;width:' + ${((event.occupied + 0.0)/ event.capacity)*80} + 'px'">
                          <span>
                            <span th:text="${event.occupied}"></span>/<span th:text="${event.capacity}"></span>
                          </span>
                        </span>
                      </span>
                    </p>
                    <p class="m-0"><strong>Destination: </strong><span th:text="${event.destination}">destino</span></p>
                  </div>
                  <p class="description m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta optio fuga esse? Voluptatum quam, soluta cumque illum asperiores, veniam placeat debitis alias, ut obcaecati enim cum exercitationem aliquid ratione eligendi.</p>
                  <p th:if="${event.notes.length > 0}" class="m-0"><strong>Notes: </strong>
                    <th:block th:each="note: ${event.notes.split(',')}">
                      <th:block th:switch="${note}">
                        <span th:case="'NO_KIDS'">👶❌ </span>
                        <span th:case="'NO_ANIMALS'">🐾❌ </span>
                        <span th:case="'KIDS'">👶✅ </span>
                        <span th:case="'ANIMALS'">🐾✅ </span>
                      </th:block>
                    </th:block>
                  </p>
                </div>
                <div class="">
                  <p class="m-0"><strong>📅 From: </strong><span th:text="${event.initDate}">Fecha Inicio</span></p>
                  <p><strong>📅 To: </strong><span th:text="${event.finishDate}">Fecha Fin</span></p>
                  <p class="m-0"><strong>Organizer: </strong><span th:text="${event.userOwner.firstName} + ' ' + ${event.userOwner.lastName}">Nombre Apellidos</span></p>
                  <p class="m-0"><strong>Languages: </strong><span th:text="${event.userOwner.languages}">Español</span></p>
                  <p class="mb-0"><span>⭐⭐⭐⭐⭐</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination-panel mt-4 d-flex justify-content-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li th:class="'page-item' + ${currentPage==0?' disabled':''}"><a class="page-link" th:href="@{search(page=${currentPage - 1},search=${search},init=${init},fin=${fin})}">Previous</a></li>
              <li th:each="page,status:${numpages}" th:class="'page-item' + ${status.index==currentPage?' active':''}">
                <a class="page-link" th:href="@{search(page=${status.index},search=${search},init=${init},fin=${fin})}" th:text="${status.index + 1}">1</a>
              </li>
              <li th:class="'page-item' + ${currentPage==(numPages -1)?' disabled':''}"><a class="page-link" th:href="@{search(page=${currentPage + 1},search=${search},init=${init},fin=${fin})}">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
  </body>
</html>
