<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/head :: header" />
    <title>DreamTrip</title>
    <link
      rel="stylesheet"
      th:href="@{/css/signUp.css}"
      href="css/search.css"
      type="text/css"
    />
   

  </head>

  <body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
      <div class="container">
        <form method="post" th:action="@{/user/saveUser}" th:object="${User}">
          <div class="form-group">
            <label for="firstName">First Name : </label>
            <input type="text" class="form-control" id="firstName"  placeholder="First Name" th:field="*{firstName}" required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name : </label>
            <input type="text" class="form-control" id="lastName"  placeholder="Last Name" th:field="*{lastName}"  required>
          </div>
          <div class="form-group">
            <label for="username">Username : </label>
            <input type="text" class="form-control" id="username"  placeholder="Username" th:field="*{username}" required>
          </div>
          <div class="form-group">
            <label for="Password">Password : </label>
            <input type="password" class="form-control" id="Password" placeholder="Password" th:field="*{password}" >
          </div>
          <div class="form-group">
            <label for="location">Location : </label>
            <input type="text" class="form-control" id="location" placeholder="Location" th:field="*{location}" required>
          </div>
          <div class="form-group">
            <label for="birthdate">Birthdate : </label>
            <input type="date" class="form-control" id="birthdate"  placeholder="Birthdate" th:field="*{birthdate}" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Tell us about you" th:field="*{description}">
          </div>
          <div class="form-group">
            <label for="languages">Languages</label>
            <input type="text" class="form-control" id="languages" placeholder="Languages. Ex: french,english" th:field="*{languages}">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}" >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
  </body>
</html>
