<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Perfil</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" th:href="@{/css/user.css}" href="css/user.css">
    <script th:src="@{/js/user.js}" src="js/user.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="flex-shrink-0">

        <section class="vh-50">
            <div class="container-fluid d-flex align-items-end justify-content-center" th:style="'background:url('+ @{/img/default-pic.jpg} +'); background-size: cover; height: 300px; margin-bottom:80px'">
                <div class="position-relative" style="width: fit-content; margin-bottom: -60px;">
                    <img th:src="@{/user/{id}/pic(id=${user.id})}" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; border: 3px solid white;"/>
                    <th:block th:if="${isOwner}">
                        <span class="position-absolute top-0 start-100 translate-middle p-2 rounded-circle bg-info" style="width: 40px; height: 40px;"
                            onclick="togglePicForm()">
                            ✏
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </th:block>
                </div>
            </div>
        </section>
          


        <div class="row">
            <div class="col-md-4">
                <!-- My events/trips-->
                <p class="lead fw-normal mb-1" style="text-align: center;">My events/trips</p>

                <div class="p-4" style="background-color: #f8f9fa;">
                    <div class="event bg-white d-flex rounded overflow-hidden" th:each="event:${allEventsDone}">
                        <div class="card mb-5" style="border-radius: 15px;">
                            <div class="card-body p-4">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                                <a th:text="${event.title}" th:href="@{/event/{id}(id=${event.id})}" class="card-btn btn btn-primary mb-5" style="border-radius: 10px;">Title</a>
                                                <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span> Trip by
                                                    <a class="text-decoration-none text-body" th:href="@{/user/{id}(id=${event.userOwner.id})}">
                                                        <strong><span th:text="${event.userOwner.username}">Pepe</span></h2></strong>
                                                    </a>
                                                on  <a th:text="${event.initDate}">Date</a></p>
                                                <hr class="my-4">
                                                <div class="d-flex justify-content-start align-items-center">
                                                <a th:text="${event.description}">Description</a>
                                        </div>
                                    </div>
                        
                                    <div class="col-md-4 justify-content-center align-items-center">
                        
                                        <div class="row g-2">
                                            <div class="col mb-2">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                                                alt="image 1" class="w-100 rounded-3">
                                            </div>
                                            <div class="col mb-2">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                                                alt="image 1" class="w-100 rounded-3">
                                            </div>
                                            </div>
                                            <div class="row g-2">
                                            <div class="col">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                                                alt="image 1" class="w-100 rounded-3">
                                            </div>
                                            <div class="col">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                                                alt="image 1" class="w-100 rounded-3">
                                            </div>
                                            </div>
                        
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            
            </div>

            <div class="col-md-4">
                <!-- User information -->
                <p class="lead fw-normal mb-1" style="text-align: center;">About</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                    <p class="font-italic mb-1  b" style="font-weight: bold;">FirstName : <span th:text="${user.firstName}" style="font-weight: normal;"></span></p>
                    <p class="font-italic mb-1 b" style="font-weight: bold;">LastName :  <span th:text="${user.lastName}" style="font-weight: normal;"></span></p>
                    <p class="font-italic mb-0 b" style="font-weight: bold;">Location : <span th:text="${user.location}" style="font-weight: normal;"></span></p>
                    <p class="font-italic mb-0 b" style="font-weight: bold;">Languages : <span th:text="${user.languages}" style="font-weight: normal;"></span></p>
                    <p class="font-italic mb-0 b" style="font-weight: bold;">Sex :</p>
                    <p class="font-italic mb-0 b" style="font-weight: bold;">Age : <span th:text="${age}" style="font-weight: normal;"></span></p>
                    <p class="font-italic mb-0 b" style="font-weight: bold;">Email : <span th:text="${user.email}" style="font-weight: normal;"></span></p>
                    <p class="font-italic mb-0 b">Evaluation</p>
                  </div>

                <!-- User description -->
                <p class="lead fw-normal mb-1 b">Description</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                    <p class="font-italic mb-1" th:text="${user.description}">Little description of the user.</p>
                  </div>
            </div>

            <div class="col-md-4">
                <!-- Open events/trips -->
                <p class="lead fw-normal mb-1" style="text-align: center;">Open events/trips</p>
                <div class="d-flex p-4 gap-2 flex-column" style="background-color: #f8f9fa;">
                    <div class="event d-flex rounded overflow-hidden" th:each="event:${allEventsOpen}">
                        <div class="d-flex bg-white w-100 justify-content-between" >
                            <div class="p-2">
                                <a th:text="${event.title}" th:href="@{/event/{id}(id=${event.id})}" class="card-btn btn btn-primary mb-3" style="border-radius: 10px;">Title</a>                                        <p class="small mb-1"><i class="far fa-star fa-lg"></i>
                                    <span th:text="${event.status}" class="badge me-2" style="border-radius: 10px; background-color: rgb(91, 189, 221);">Status</span>
                                    <span th:text="${event.type}" class="badge me-2" style="border-radius: 10px; background-color: rgb(91, 189, 221);">Type</span>
                                </p>
                                <p class="small mb-1"><i class="far fa-star fa-lg"></i>Trip by
                                    <a class="text-decoration-none text-body ms-2" th:href="@{/user/{id}(id=${event.userOwner.id})}">
                                        <strong><span th:text="${event.userOwner.username}">Pepe</span></strong>
                                    </a>
                                </p>
                                <p class="small mb-0"><i class="far fa-star fa-lg"></i><a th:text="${event.initDate}">Date</a></p>
                           
                            </div>
                            <img th:src="@{/event/{id}/coverPic(id=${event.id})}" width="200" height="150"
                                                 alt="image 1" class="rounded-3" style="object-fit: cover;">
                        </div>
                        <!--
                        <div class="card mb-5" style="border-radius: 15px;">
                            <div class="card-body p-4">
                                <div class="row align-items-center">
                                    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                                        <a th:text="${event.title}" th:href="@{/event/{id}(id=${event.id})}" class="card-btn btn btn-primary mb-3" style="border-radius: 10px;">Title</a>                                        <p class="small mb-1"><i class="far fa-star fa-lg"></i>
                                            <span th:text="${event.status}" class="badge me-2" style="border-radius: 10px; background-color: rgb(91, 189, 221);">Status</span>
                                            <span th:text="${event.type}" class="badge me-2" style="border-radius: 10px; background-color: rgb(91, 189, 221);">Type</span>
                                        </p>
                                        <p class="small mb-1"><i class="far fa-star fa-lg"></i>Trip by
                                            <a class="text-decoration-none text-body ms-2" th:href="@{/user/{id}(id=${event.userOwner.id})}">
                                                <strong><span th:text="${event.userOwner.username}">Pepe</span></strong>
                                            </a>
                                        </p>
                                        <p class="small mb-0"><i class="far fa-star fa-lg"></i><a th:text="${event.initDate}">Date</a></p>
                                    </div>
                                    <div class="col-md-6 justify-content-center align-items-center">
                                        <div class="col mb-2">
                                            <img th:src="@{/event/{id}/coverPic(id=${event.id})}"
                                                 alt="image 1" class="w-100 rounded-3" style="object-fit: cover;">
                                        </div>                
                                    </div>       
                                </div>
                            </div>
                        </div>  
                    -->  
                    </div> 
                
                <!-- Página de eventos abiertos 
                <div class="pagination-panel mt-4 d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li th:class="'page-item' + ${currentPage==0?' disabled':''}">
                                <a class="page-link" th:href="@{/{id}(page=${currentPage - 1},size=${size},search=${search},init=${init},fin=${fin})}">
                                    Previous
                                </a>
                            </li>
                            <li th:each="page,status:${numpages}" th:class="'page-item' + ${status.index==currentPage?' active':''}">
                                <a class="page-link" th:href="@{/{id}(page=${status.index},size=${size},search=${search},init=${init},fin=${fin})}" th:text="${status.index + 1}"></a>
                            </li>
                            <li th:class="'page-item' + ${currentPage==(numPages -1)?' disabled':''}">
                                <a class="page-link" th:href="@{/{id}(page=${currentPage+ 1},size=${size},search=${search},init=${init},fin=${fin})}">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div> -->

                
                </div>
                <!-- Create new trip: show if it's his profile -->
                <div class="d-flex justify-content-center" th:if="${isOwner}">
                    <a th:href="@{/formAddEvent}" href="/formAddEvent" class="card-btn btn btn-primary mb-5 d-flex align-items-center w-50" style="border-radius: 10px;">
                        <i class="material-icons">add_circle</i>Add Event
                    </a>
                    <!-- Show a model -->
                </div>
                        
            </div>
          </div>
    </main>
    <th:block th:if="${isOwner}">
        <div id="pic-form-cont" style="display: none">
            <form class="pic-form bg-white rounded" th:action="@{/user/{id}/pic(id=${user.id})}" method="post"
                enctype="multipart/form-data">
                <h3>Upload an image.</h3>
                <label for="report-desc" class="form-label">Upload an image:</label>
                <input class="form-control" type="file" id="formFile" name="photo">
                <br>
                <button type="submit" class="btn btn-primary">
                    Send
                </button>
                <button type="button" class="btn btn-primary" onclick="togglePicForm()">Cancel</button>
            </form>
        </div>
    </th:block>
    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>